* {
	padding: o;
	margin: 0;
}

div {
	margin: 10px;
	border: all;
	color: white;
	background-color: lightgrey;
	display: inline-flex;
	width: auto;
	text-align: center;
	font-family: sans-serif;
	padding:auto ;
	text-decoration: none;
	border-radius: 8px;
}

p {
	color: darkgreen;
	font-family: sans-serif;
	line-height: 30px;
}

form {
text-align: left;	
  font: 1em sans-serif;
  max-width: 320px;
  background-color: #ccc;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  margin: 3px;
  padding: 3px;
}

li a {
  display: block;
  color: darkgreen;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

fieldset
{   
		color: darkgreen;
    border:2px solid #eee ;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;	
    border-radius:8px;	
}

